<%- include('layout_top')-%>
  <div style="margin: 0px 15vw;">
  <h1>Post To Blog</h1>
  <form method="POST" action="/api/post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input id="formTitle" class="form-control" type="text" name="title" />
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" name="body" style="height: 150px;"></textarea>
      <label for="password">Password:</label>
      <input id="password" class="form-control" type="password" name="secret" />
    <div>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
  </div>
<%- include('layout_bottom')-%>
