body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #282828;
  align-items: center;
}

a {
  color: dodgerblue;
}

#title {
  margin-bottom: 24px;
  padding-left: 20px;
}

#main {
  max-width: 850px;
  margin: 0 12vw;
}

.post {
  border: 2px solid grey;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.comment {
  padding: 0px 16px;
  border-left: 2px solid grey;
}

.properties {
  color: grey;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adminControls {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media ( max-width: 900px ) {
  #main {
    margin-left: auto;
    margin-right: auto;
  }
}
